############################################################
############### MANDATORY Environment Variables
############################################################

# FQDN of Web/ API Service
WEB_HOSTNAME=<HOSTNAME>

# Branding/ brand name
BRAND="<BRAND>"

# MQTT Server Details
MQTT_URL=mqtt://<MQTT_CONTAINER_NAME>
MQTT_PORT=1883
MQTT_USER=<MQTT_USER>
MQTT_PASSWORD=<MQTT_PASSWORD>

# MongoDB Server Details
MONGO_HOST=<MONGODB-CONTAINER>
MONGO_PORT=27017
MONGO_USER=<MONGODB_USER>
MONGO_PASSWORD=<MONGODB_PASSWORD>

# Email Server Details
MAIL_USER=<MAIL_SERVER_USER>
MAIL_SERVER=<MAIL_SERVER_HOSTNAME>
MAIL_PASSWORD=<MAIL_SERVER_PASSWORD>

# Cookie Secret
COOKIE_SECRET=<COOKIE_SECRET>

############################################################
############### OPTIONAL Environment Variables
############################################################

# Debug
ALEXA_DEBUG=true

# Redis Server Name/ IP
REDIS_SERVER=<REDIS_CONTAINER_NAME>

# Web App TCP Port
WEB_APP_PORT=3000

# Alexa State Report API Key
ALEXA_CLIENTID=<ALEXA_CLIENT_ID>
ALEXA_CLIENTSECRET=<ALEXA_CLIENTSECRET>

# Google Homegraph API Key
HOMEGRAPH_APIKEY=<HOMEGRAPH_APIKEY>
