############################################################
############### MANDATORY Environment Variables
############################################################

# FQDN of Web/ API Service
WEB_HOSTNAME=<HOSTNAME>

# Branding/ brand name
BRAND="<BRAND>"

# MQTT Server Details
MQTT_URL=mqtt://<MQTT-CONTAINER-NAME>
MQTT_PORT=1883
MQTT_USER=<MQTT-USER>
MQTT_PASSWORD=<MQTT-PASSWORD>

# MongoDB Server Details
MONGO_HOST=<MONGODB-CONTAINER-NAME>
MONGO_PORT=27017
MONGO_USER=<MONGODB-USER>
MONGO_PASSWORD=<MONGODB-PASSWORD>

# Email Server Details
MAIL_USER=<MAIL-SERVER-USER>
MAIL_SERVER=<MAIL-SERVER-HOSTNAME>
MAIL_PASSWORD=<MAIL-SERVER-PASSWORD>

# Cookie Secret
COOKIE_SECRET=<COOKIE-SECRET>

# Setting Evironment
ENVIRONMENT=<ENV-SETTING>

#Allow User Registration
ALLOW_REGISTRATION=<ALLOW-REGISTRATION>

############################################################
############### OPTIONAL Environment Variables
############################################################

# Debug
ALEXA_DEBUG=true

# Redis Server Name/ IP
REDIS_SERVER=<REDIS-CONTAINER-NAME>

# Web App TCP Port
WEB_APP_PORT=3000

# Alexa State Report API Key
ALEXA_CLIENTID=<ALEXA-CLIENT-ID>
ALEXA_CLIENTSECRET=<ALEXA-CLIENTSECRET>
