<h1>Datenschutzerklärung</h1>
<h3>Datenschutz</h3>
<p><small>Wir haben diese Datenschutzerklärung (Fassung 01.12.2020-311236873) verfasst, um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</small></p>
<p><small>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</small></p>

<p><small></small></p>
<h3>Automatische Datenspeicherung</h3>
<p><small>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.</small></p>
<p><small>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie</small></p>
<ul>
    <li><small>die Adresse (URL) der aufgerufenen Webseite</small></li>
    <li><small>Browser und Browserversion</small></li>
    <li><small>das verwendete Betriebssystem</small></li>
    <li><small>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</small></li>
    <li><small>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</small></li>
    <li><small>Datum und Uhrzeit</small></li>
</ul>
<p><small>in Dateien (Webserver-Logfiles).</small></p>
<p><small>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.</small></p>


<h3>Cookies</h3>
<p><small>Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.<br/>Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die folgende Datenschutzerklärung besser verstehen.</small></p>
<h4>Was genau sind Cookies?</h4>
<p><small>Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser. Bekannte Browser sind beispielsweise Chrome, Safari, Firefox, Internet Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine Text-Dateien in Ihrem Browser. Diese Dateien nennt man Cookies.</small></p>
<p><small>Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein. Fast alle Webseiten verwenden Cookies. Genauer gesprochen sind es HTTP-Cookies, da es auch noch andere Cookies für andere Anwendungsbereiche gibt. HTTP-Cookies sind kleine Dateien, die von unserer Website auf Ihrem Computer gespeichert werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner, quasi dem “Hirn” Ihres Browsers, untergebracht. Ein Cookie besteht aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen zusätzlich ein oder mehrere Attribute angegeben werden.</small></p>
<p><small>Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder persönliche Seiteneinstellungen. Wenn Sie unsere Seite wieder aufrufen, übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite zurück. Dank der Cookies weiß unsere Website, wer Sie sind und bietet Ihnen Ihre gewohnte Standardeinstellung. In einigen Browsern hat jedes Cookie eine eigene Datei, in anderen wie beispielsweise Firefox sind alle Cookies in einer einzigen Datei gespeichert.</small></p>
<p><small>Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von unserer Seite erstellt, Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics) erstellt. Jedes Cookie ist individuell zu bewerten, da jedes Cookie andere Daten speichert. Auch die Ablaufzeit eines Cookies variiert von ein paar Minuten bis hin zu ein paar Jahren. Cookies sind keine Software-Programme und enthalten keine Viren, Trojaner oder andere „Schädlinge“. Cookies können auch nicht auf Informationen Ihres PCs zugreifen.</small></p>
<p><small>So können zum Beispiel Cookie-Daten aussehen:</small></p>
<ul>
    <li><small>Name: _ga</small></li>
    <li><small>Ablaufzeit: 2 Jahre</small></li>
    <li><small>Verwendung: Unterscheidung der Webseitenbesucher</small></li>
    <li><small>Beispielhafter Wert: GA1.2.1326744211.152311236873</small></li>
</ul>

<p><small>Ein Browser sollte folgende Mindestgrößen unterstützen:</small></p>
<ul>
    <li><small>Ein Cookie soll mindestens 4096 Bytes enthalten können</small></li>
    <li><small>Pro Domain sollen mindestens 50 Cookies gespeichert werden können</small></li>
    <li><small>Insgesamt sollen mindestens 3000 Cookies gespeichert werden können</small></li>
</ul>
<h4>Welche Arten von Cookies gibt es?</h4>
<p><small>Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten Diensten ab und wird in der folgenden Abschnitten der Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die verschiedenen Arten von HTTP-Cookies eingehen.</small></p>
<p><small>Man kann 4 Arten von Cookies unterscheiden:</small></p>
<h5>Unbedingt notwendige Cookies</h5>
<p><small>Diese Cookies sind nötig, um grundlegende Funktionen der Website sicherzustellen. Zum Beispiel braucht es diese Cookies, wenn ein User ein Produkt in den Warenkorb legt, dann auf anderen Seiten weitersurft und später erst zur Kasse geht. Durch diese Cookies wird der Warenkorb nicht gelöscht, selbst wenn der User sein Browserfenster schließt.</small></p>
<h5>Funktionelle Cookies</h5>
<p><small>Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige Fehlermeldungen bekommt. Zudem werden mithilfe dieser Cookies auch die Ladezeit und das Verhalten der Website bei verschiedenen Browsern gemessen.</small></p>
<h5>Zielorientierte Cookies</h5>
<p><small>Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit. Beispielsweise werden eingegebene Standorte, Schriftgrößen oder Formulardaten gespeichert.</small></p>
<h5>Werbe-Cookies</h5>
<p><small>Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem User individuell angepasste Werbung zu liefern. Das kann sehr praktisch, aber auch sehr nervig sein.</small></p>
<p><small>Üblicherweise werden Sie beim erstmaligen Besuch einer Webseite gefragt, welche dieser Cookiearten Sie zulassen möchten. Und natürlich wird diese Entscheidung auch in einem Cookie gespeichert.</small></p>
<h4>Wie kann ich Cookies löschen?</h4>
<p><small>Wie und ob Sie Cookies verwenden wollen, entscheiden Sie selbst. Unabhängig von welchem Service oder welcher Website die Cookies stammen, haben Sie immer die Möglichkeit Cookies zu löschen, nur teilweise zuzulassen oder zu deaktivieren. Zum Beispiel können Sie Cookies von Drittanbietern blockieren, aber alle anderen Cookies zulassen.</small></p>
<p><small>Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, wenn Sie Cookie-Einstellungen ändern oder löschen wollen, können Sie dies in Ihren Browser-Einstellungen finden:</small></p>
<p><small><a href="https://support.google.com/chrome/answer/95647">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a></small></p>
<p><small><a href="https://support.apple.com/de-at/guide/safari/sfri11471/mac">Safari: Verwalten von Cookies und Websitedaten mit Safari</a></small></p>
<p><small><a href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a></small></p>
<p><small><a href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer: Löschen und Verwalten von Cookies</a></small></p>
<p><small><a href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies">Microsoft Edge: Löschen und Verwalten von Cookies</a></small></p>
<p><small>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie das Cookie erlauben oder nicht. Die Vorgangsweise ist je nach Browser verschieden. Am besten ist es Sie suchen die Anleitung in Google mit dem Suchbegriff “Cookies löschen Chrome” oder “Cookies deaktivieren Chrome” im Falle eines Chrome Browsers oder tauschen das Wort “Chrome” gegen den Namen Ihres Browsers, z.B. Edge, Firefox, Safari aus.</small></p>

<h3>Wie sieht es mit meinem Datenschutz aus?</h3>
<p><small>Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass das Speichern von Cookies eine Einwilligung von Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr unterschiedliche Reaktionen auf diese Richtlinien. In Deutschland wurden die Cookie-Richtlinien nicht als nationales Recht umgesetzt. Stattdessen erfolgte die Umsetzung dieser Richtlinie weitgehend in § 15 Abs.3 des Telemediengesetzes (TMG).</small></p>
<p><small>Wenn Sie mehr über Cookies wissen möchten und technischen Dokumentationen nicht scheuen, empfehlen wir https://tools.ietf.org/html/rfc6265, dem Request for Comments der Internet Engineering Task Force (IETF) namens “HTTP State Management Mechanism”.</small></p>

<h3>Speicherung persönlicher Daten</h3>
<p><small>Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.</small></p>
<p><small>Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.</small></p>
<p><small>Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt per E-Mail zu übermitteln.</small></p>
<p><small>Die Rechtsgrundlage besteht nach Artikel 6  Absatz 1 a DSGVO (Rechtmäßigkeit der Verarbeitung) darin, dass Sie uns die Einwilligung zur Verarbeitung der von Ihnen eingegebenen Daten geben. Sie können diesen Einwilligung jederzeit widerrufen – eine formlose E-Mail reicht aus, Sie finden unsere Kontaktdaten im Impressum.</small></p>


<h3>Rechte laut Datenschutzgrundverordnung</h3>
<p><small>Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:</small></p>
<ul>
    <li><small>Recht auf Berichtigung (Artikel 16 DSGVO)</small></li>
    <li><small>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</small></li>
    <li><small>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</small></li>
    <li><small>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</small></li>
    <li><small>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</small></li>
    <li><small>Widerspruchsrecht (Artikel 21 DSGVO)</small></li>
    <li><small>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</small></li>
</ul>
<p><small>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die <a href="https://www.bfdi.bund.de/">Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI)</a> wenden.</small></p>


<h3>TLS-Verschlüsselung mit https</h3>
<p><small>Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung Artikel 25 Absatz 1 DSGVO). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.</small></p>




<!--
<h4>Tracking & Cookies Data</h4>
<p><small>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</small></p>
<p><small>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</small></p>
<p><small>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</small></p>
<p><small>Examples of Cookies we use:</small></p>
<ul>
    <li><small><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</small></li>
    <li><small><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</small></li>
    <li><small><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</small></li>
</ul>

<h2>Use of Data</h2>

<p><small><%= brand %> uses the collected data for various purposes:</small></p>
<ul>
    <li><small>To provide and maintain the Service</small></li>
    <li><small>To notify you about changes to our Service</small></li>
    <li><small>To allow you to participate in interactive features of our Service when you choose to do so</small></li>
    <li><small>To provide customer care and support</small></li>
    <li><small>To provide analysis or valuable information so that we can improve the Service</small></li>
    <li><small>To monitor the usage of the Service</small></li>
    <li><small>To detect, prevent and address technical issues</small></li>
</ul>

<h2>Transfer Of Data</h2>
<p><small>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</small></p>
<p><small>If you are located outside United Kingdom and choose to provide information to us, please note that we transfer the data, including Personal Data, to United States and process it there.</small></p>
<p><small>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</small></p>
<p><small><%= brand %> will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</small></p>

<h2>Disclosure Of Data</h2>

<h3>Legal Requirements</h3>
<p><small><%= brand %> may disclose your Personal Data in the good faith belief that such action is necessary to:</small></p>
<ul>
    <li><small>To comply with a legal obligation</small></li>
    <li><small>To protect and defend the rights or property of <%= brand %></small></li>
    <li><small>To prevent or investigate possible wrongdoing in connection with the Service</small></li>
    <li><small>To protect the personal safety of users of the Service or the public</small></li>
    <li><small>To protect against legal liability</small></li>
</ul>

<h2>Security Of Data</h2>
<p><small>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure and we cannot guarantee its absolute security.</small></p>

<h2>Service Providers</h2>
<p><small>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</small></p>
<p><small>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</small></p>

<h3>Analytics</h3>
<p><small>We may use third-party Service Providers to monitor and analyze the use of our Service.</small></p>
<ul>
        <li>
            <p><small><strong>Google Analytics</strong></small></p>
            <p><small>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</small></p>
            <p><small>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></small></p>
        </li>
</ul>

<h2>Links To Other Sites</h2>
<p><small>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</small></p>
<p><small>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</small></p>


<h2>Children's Privacy</h2>
<p><small>Our Service does not address anyone under the age of 18 ("Children").</small></p>
<p><small>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</small></p>


<h2>Changes To This Privacy Policy</h2>
<p><small>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</small></p>
<p><small>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</small></p>
<p><small>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</small></p>


<h2>Contact Us</h2>
<p><small>If you have any questions about this Privacy Policy, please contact us:</small></p>
<ul>
    <li><small>By email: postmaster@cb-net.co.uk</small></li>
</ul>
-->